<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Simple Projects</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Name
                            </th>
                            <th>
                                Path
                            </th>
                            <th>
                                # Endpoints
                            </th>
                            <th>
                                Creator
                            </th>
                            <th class="text-right">
                                Created at
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Thor API
                                </td>
                                <td>
                                    /thor
                                </td>
                                <td>
                                    10
                                </td>
                                <td>
                                    @manusant
                                </td>
                                <td class="text-right">
                                    2/10/2018 14:00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Loki API
                                </td>
                                <td>
                                    /loki
                                </td>
                                <td>
                                    8
                                </td>
                                <td>
                                    @manusant
                                </td>
                                <td class="text-right">
                                    2/10/2018 14:00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    AFM API
                                </td>
                                <td>
                                    /afm
                                </td>
                                <td>
                                    15
                                </td>
                                <td>
                                    @manusant
                                </td>
                                <td class="text-right">
                                    2/10/2018 14:00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    XPTO API
                                </td>
                                <td>
                                    /xpto
                                </td>
                                <td>
                                    50
                                </td>
                                <td>
                                    @manusant
                                </td>
                                <td class="text-right">
                                    2/10/2018 14:00
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
